

<form action="/submit" method="POST">
    <div class="form-group">
      <label for="postTile">Title</label>
      <input type="text" class="form-control" name="title" placeholder="Enter Title" autofocus required>
    </div>

    <div class="form-group">
      <label for="postContent">Description</label>
      <textarea class="form-control" name="description" rows="3" placeholder="Enter Content" autofocus required></textarea>
    </div>

    <button type="submit" class="btn btn-default">Publish</button>
  </form>
  